body {
    background-color: rgba(240,210,18,255);
}
h1  {
    text-transform: uppercase;
    text-align: center;
    font-family:'Segoe UI', sans-serif;
    color: rgba(56,38,98,255);
    text-shadow: 3px 3px 8px #000;
}
main {
    min-height: 250px;
width: 90%;
background: rgba(245, 245, 245, 0.9);
/* Centrer une boite */
margin: 0 auto;
border-radius: 10px;
box-shadow: 0px 0px 10px 1px #000000;
padding: 10px;
}
div {
    text-decoration: underline;
    font-family: ;
}